.game-card {
	width: 96px;
	height: 143px;
	background: url(../../image/cardback.jpg) top left no-repeat;
	background-size: 96px auto;
	display: block;
	line-height: 95px;
	text-align: center;
	font-size: 20px;
	position: relative;
	transform: translate(0);
}


.card--chosen {
	opacity: 0.5;
}