.controls-container {
    position: absolute;
    top: 73%;
    left: 56%;
    width: 10%;
    height: 14%;
    display: flex;
    flex-wrap: wrap;

	.controls {
	    display: flex;
	    flex-wrap: wrap;
    	margin: auto;

		.btn {
		}
		
		.pick-status {
			color: black;
		}
	}
}

