.controls-container {
    position: absolute;
    top: 73%;
    left: 56%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

	.controls {
	    display: flex;
	    flex-wrap: wrap;
    	margin: auto;
    	justify-content: center;	

		.btn {
			padding: 10px;
			margin: 1px;
		}
		
		.pick-status {
			// color: black;
		}
	}
}

.show-pick {
	position: absolute;
    top: 12%;
    left: 7%;
    font-size: 14px;
}

@media screen and (max-width: 550px) {
	.controls-container {
	    top: 67%;
	    left: 52%;
	}
}