.mana-curve {
	position: absolute;
    width: 130px;
    height: 87px;
    bottom: 63px;
    left: 213px;

    .mana {
	    position: absolute;
	    bottom: 0;
	    top: auto;
	    width: 15px;
    	background: url(images/mana-curve.jpg) top left no-repeat;
    	background-size: 100% 100%;
    	border-bottom-right-radius: 5px;
    	border-bottom-left-radius: 5px;
    }

    .zero {
    	left: 0;
    }

    .one {
    	left: 17px;
    }

    .two {
    	left: 33px;
    }

    .three {
    	left: 49px;
    }

    .four {
    	left: 65px;
    }

    .five {
    	left: 81px;
    }

    .six {
    	left: 97px;
    }

    .seven {
    	left: 113px;
    }
}