.pick-area {
	width: 75%;
	height: 350px;
	position: relative;
}

.pick {
	text-align: center;
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 25;

	.game-card {
		display: inline-block;
		position: relative;
		margin-right: 20px;
		width: 140px;
		height: 240px;
		background-size: 100% auto;
		&:last-child {
			margin-right: 0;
		}
	}

	.picked:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: "X";
		font-size: 10em;
		color: green;
		line-height: 1.1em;
		text-align: center;
		opacity: 0.5;
	}
}