.arena-replay {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: stretch;
	flex-grow: 1;
	min-height: 0;
	min-width: 0;

    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #C3AA7D;

    &.hero-selection {
    	background: url(images/hero-selection.jpg) top left no-repeat;
    	background-size: 100% 100%;
    }

     &.pick-selection {
    	background: url(images/pick-selection.jpg) top left no-repeat;
    	background-size: 100% 100%;
    }
}